@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

    @foreach (var item in selection)
    {
        <div class="col-md-4">
            <h3><a href="@item.Url">@item.Name</a></h3>
			
			<p>@Umbraco.Truncate(item.articlesBodyText.ToString(),100)</p>
			
            <p><b>Published: @item.CreateDate</b></p>
        </div>

    }
