<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="1084" key="cb53bed5-e073-44a6-aa77-a62101b4812a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T11:58:48" updateDate="2017-02-08T11:58:58" nodeName="Homepage" urlName="homepage" path="-1,1084" isDoc="" nodeType="1051" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1050" nodeTypeAlias="homepage">
    <metaDescription><![CDATA[Meta description]]></metaDescription>
    <metaKeywords><![CDATA[Meta Keywords]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <mainContent><![CDATA[<p>suuuuuuuh dud</p>]]></mainContent>
    <textPage id="1085" key="d19c5758-c65c-479f-bd6b-92d205966552" parentID="1084" level="2" creatorID="0" sortOrder="0" createDate="2017-02-08T11:59:22" updateDate="2017-02-08T11:59:22" nodeName="Random page" urlName="random-page" path="-1,1084,1085" isDoc="" nodeType="1056" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1055" nodeTypeAlias="textPage">
      <header><![CDATA[whaduuuup]]></header>
      <mainContent><![CDATA[<p><strong>suuuuuuuuuuuuh dud</strong></p>]]></mainContent>
    </textPage>
    <textPage id="1086" key="213f2131-100c-4bc3-98e5-883e14d7760a" parentID="1084" level="2" creatorID="0" sortOrder="1" createDate="2017-02-08T12:00:39" updateDate="2017-02-08T12:00:39" nodeName="Another page" urlName="another-page" path="-1,1084,1086" isDoc="" nodeType="1056" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1055" nodeTypeAlias="textPage" />
    <textPage id="1087" key="ac0cdcfd-dafa-4ba5-b33d-79ecfda7571f" parentID="1084" level="2" creatorID="0" sortOrder="2" createDate="2017-02-08T12:07:44" updateDate="2017-02-11T12:18:24" nodeName="About us" urlName="about-us" path="-1,1084,1087" isDoc="" nodeType="1056" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1055" nodeTypeAlias="textPage">
      <header><![CDATA[About us]]></header>
      <mainContent><![CDATA[<p>Some dank ass text here about us</p>]]></mainContent>
    </textPage>
    <projectsOverview id="1088" key="261fbbcb-fde3-4977-b017-ced0a3c344e5" parentID="1084" level="2" creatorID="0" sortOrder="3" createDate="2017-02-08T12:08:08" updateDate="2017-02-08T12:08:08" nodeName="Projects" urlName="projects" path="-1,1084,1088" isDoc="" nodeType="1065" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1064" nodeTypeAlias="projectsOverview">
      <projectsBodyText><![CDATA[<p>Siiiiiiiiiiiiiiiiiick duuude</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Our projects]]></projectsTitle>
      <projectItem id="1089" key="f8741a82-9efc-4b52-979f-c2bc47aa6731" parentID="1088" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:08:54" updateDate="2017-02-08T12:08:54" nodeName="Siiiiiiiiiiick ass project mayyyn!" urlName="siiiiiiiiiiick-ass-project-mayyyn" path="-1,1084,1088,1089" isDoc="" nodeType="1069" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <projectTitle><![CDATA[Siiiiiiiiiiick ass project mayyyn!]]></projectTitle>
        <projectDescription><![CDATA[<p>such sick, much wow - no NA</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1090" key="4d8a260d-672b-4beb-80e7-62d5e15446d6" parentID="1088" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:09:14" updateDate="2017-02-08T12:09:14" nodeName="sååååp bro" urlName="saaaaaaaap-bro" path="-1,1084,1088,1090" isDoc="" nodeType="1069" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <projectTitle><![CDATA[sååååp bro]]></projectTitle>
        <projectDescription><![CDATA[<p>dunno dafuq</p>]]></projectDescription>
      </projectItem>
    </projectsOverview>
    <articlesOverview id="1091" key="4e9aaa4a-dec9-487a-8c78-5113b9576193" parentID="1084" level="2" creatorID="0" sortOrder="4" createDate="2017-02-08T12:09:37" updateDate="2017-02-08T12:09:37" nodeName="Articles" urlName="articles" path="-1,1084,1091" isDoc="" nodeType="1059" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1058" nodeTypeAlias="articlesOverview">
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>dey took our jeeerbs</p>]]></articlesBodyText>
      <articleItem id="1092" key="7af57f88-0dbb-4db6-ae1f-6134849d2f8b" parentID="1091" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:10:05" updateDate="2017-02-08T12:10:05" nodeName="dey took our jerbs" urlName="dey-took-our-jerbs" path="-1,1084,1091,1092" isDoc="" nodeType="1062" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <articleTitle><![CDATA[dey took our jerbs]]></articleTitle>
        <articlesBodyText><![CDATA[<p>no job for u</p>]]></articlesBodyText>
      </articleItem>
      <articleItem id="1093" key="3285df96-31dc-4359-9d83-f2ca399073e9" parentID="1091" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:10:18" updateDate="2017-02-11T12:28:43" nodeName="damm dude" urlName="damm-dude" path="-1,1084,1091,1093" isDoc="" nodeType="1062" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1061" nodeTypeAlias="articleItem" isDraft="">
        <articleTitle><![CDATA[damm dude]]></articleTitle>
        <articlesBodyText><![CDATA[<p>damm dude</p>]]></articlesBodyText>
        <grid><![CDATA[{
  "name": "3 Column Layout",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "dafuq",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>dfasfdasfd</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "095507af-e284-6166-0d76-e7f368a5983d"
        }
      ]
    },
    {
      "grid": 4,
      "rows": []
    },
    {
      "grid": 4,
      "rows": []
    }
  ]
}]]></grid>
      </articleItem>
    </articlesOverview>
  </homepage>
</root>