@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LoginArea>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
@Html.Partial("LoginArea")
	</div>